#sword{
position: absolute;
top: 300px;
transform:rotate(135deg);
}

#troops{
   position: absolute;
   left: 170px;
   top: 20px;
   font-size: 50px;
   color: white;
}

#tpc {
    position: absolute;
    left: 500px;
    top: 700px;
    font-size: 30px;
    color: white;
}

#dtps {
    position: absolute;
    left: 500px;
    top: 800px;
    font-size: 30px;
    color: white;
}

#milk {
    z-index: 1;
    width: 200px;
    height: 700px;
    left: 160px;
    top: 200px;
    position: absolute;
}

#archer {
    background-color: white;
    position: absolute;
    top:120px;
    padding: 5px;
    font-size: 30px;
    width: 320px;
    user-select: none;
}

#cav {
    background-color: white;
    position: absolute;
    top:250px;
    padding: 5px;
    font-size: 30px;
    width: 320px;
    user-select: none;
}

#buy-upgrade {
position: absolute;
top: 0px;
width: 400px;
height: 900px;
overflow-y: scroll;
left: 1500px;
-ms-overflow-style: none;
scrollbar-width: none;
}

#buy-upgrade::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(26, 39, 9);
}

